/* TODO move imports style to head of html */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,500&display=swap');


:root {
    --color-heliotrope-600: hsla(288, 60%, 54%, 1);
    --color-pool-water-600: hsla(213, 79%, 50%, 1);



    --text-color-primary: hsla(216, 71%, 1%, 1);
    --text-color-secondary: hsla(213, 13%, 37%, 1);
    --text-color-03: #323232;

    --background-gradient: linear-gradient(180deg, var(--color-pool-water-600) 0%, var(--color-heliotrope-600) 100%);
    --background-color-04: hsla(214, 100%, 97%, 1);

    --element-color-action: var(--color-pool-water-600);
    --element-color-01: hsla(213, 13%, 13%, 1);
    --element-color-action-01: hsla(215, 83%, 47%, 1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}