@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@400;700&display=swap');


:root {
    --color-heliotrope-600: hsla(288, 60%, 54%, 1);
    --color-pool-water-600: hsla(213, 79%, 50%, 1);



    --text-color-primary: hsla(216, 71%, 1%, 1);
    --text-color-secondary: hsla(213, 13%, 37%, 1);

    --background-gradient: linear-gradient(180deg, var(--color-pool-water-600) 0%, var(--color-heliotrope-600) 100%);

    --element-color-action: var(--color-pool-water-600);


}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}